{% extends "home/base.html" %} 
{% load molly_weather %} 
{% load molly_utils %} 
{% block site_title %}{% endblock %} {% block title %}{{site_name }}{% endblock %} 
{% block header %}
{% if device|device_has_parent:"apple_generic" or device|device_has_parent:"generic_web_browser"  %}
    
<div data-role="header"  data-position="fixed" style="height: 40px;" id="divMain">
	<!--页面头部 -->
	<h1 style="margin-top: 0px; margin-bottom: 0px;"><a href="{% url home:index %}"><img src="/media/site/images/logos/LOGO.png" alt="{{ site_name }}" /></a></h1>
	{%if not user.is_authenticated%}
	<a href="/accounts/signin" data-icon="check" class="ui-btn-right">登录</a>
	{%else%}
	<a href="/accounts" data-icon="check" class="ui-btn-right">个人中心</a>
	{%endif%}
</div>
 {%else%}
<div id="divMain">
	<!--页面头部 -->
	<h1 style="margin-top: 0px; margin-bottom: 0px;height:28px;display:inline;"><a href="{% url home:index %}"><img src="/media/site/images/logos/LOGO.png" alt="{{ site_name }}" style="width:60px;height:28px;border:0px;" /></a></h1>
	{%if not user.is_authenticated%}
	<a href="/accounts/signin" class="ui-btn-right">登录</a>
	{%else%}
	<a href="{%url userena_profile_list%}" class="ui-btn-right">个人中心</a>
	{%endif%}
</div>
{% endif %}
{% endblock %} 

{% block content %} 

{% if messages %}
<!--页面信息区 -->

<div class="ui-body ui-body-d ui-corner-all ui-shadow">
	<ul class="content-list">
		{% for message in messages %}
		<li>{{ message|sanitize_html }}</li> {% endfor %}
	</ul>
</div>
{% endif %}

<!--首页上方导航栏 -->
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
	<div class="center">
		<ol class="icon-menu">
			{% for application in applications %}
						{% if application.display_to_user %}
								<li id="menu-{{ application.local_name }}">
									<a {% if application.accesskey %} accesskey="{{ application.accesskey }}" {% endif %} href="{{ application.url }}">{{ application.title }}</a>
								</li> 
						{% endif %}
			{% endfor %}
			<li id="menu-proall"><a href="/business/proall/">优惠活动</a></li>
		</ol>
		{# Only necessary if using floating icons #} {# <div class="clearhidden"></div> #}
	</div>
</div>

<p />
<!--首页快速注册模块 -->
<div class="ui-body ui-body-d ui-corner-all ui-shadow">

	{% block reg %} {%if not user.is_authenticated%}

	<form action="/accounts/signup/" method="post">
		{% csrf_token %}
		<h4 class="clNr">
			还没有注册手机号？只要5钞钟！
			</p>
			<p>每周会员都会随机抽奖，都会有奖品拿哦!
			</h1>
			<label for="id_mobile">请输手机:</label> <input id="id_mobile"
				type="text" class="required" name="mobile" maxlength="11" /> <input
				type="submit" value="注册" />
	</form>


{%else%}
<h4 class="clNr">尊敬的用户：{{user.username}}，感谢您再次访问娱讯移动互动平台！</h4>
{%endif%} {% endblock %}
</div>
<p />

<!--首页随机应急急救知识宣传 -->
<div class="ui-grid-a ui-body-d ui-corner-all ui-shadow">
		<h4 class="clNr">119应急急救小贴士</h4>
		<ul><p>{{xiaofang.content}}</p></ul>

</div>
<p />


<!--首页天气预报与时间显示 -->
<div class="ui-grid-a ui-body-d ui-corner-all ui-shadow">
	<div>
		<h4 class="clNr">{% block date %} 当前时间：{% now "Y-m-d，l H:i" %} {% endblock %}
		</h4>
	</div>

	<div>
	<h4 class="clNr">
		{% weather %}{% block weather-location %}{{ weather.name }}{% endblock%}: {{ weather.temperature }}<img src="/media/weather/images/{{ weather.icon }}_small.png" alt="{{ weather.get_outlook_display|capfirst }}" height="30" width="30" style="vertical-align: middle;" />
		</h4>
	</div>
	{% block below-weather %}{% endblock %}

</div>



{% block below-about %} {% endblock %}


{% endblock %}
