{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
{% block usernav %}
	{{block.super}}
{%endblock%}

<form action="" method="post" id="password_change_form">
  
  <div data-role="fieldcontain">
    {% csrf_token %}
    {{ form.as_p }}
  </div>
  <input type="submit" value="{% trans "Change password" %}" />
</form>
{% endblock %}
