{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load avatar_tags %}
{% block content_title %}<h2>{% trans 'Profiles' %}</h2>{% endblock %}

{% block content %}
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
<ul><h2>公开用户列表</h2></ul>
<ul data-role="listview">
  {% for profile in profile_list %}
  <li>
  <a href="{% url userena_profile_detail profile.user.username %}">{% avatar profile.user %}
  <h4>{{ profile.get_user_real_name }}</h4>
 </a>
  </li>
  {% endfor %}

 </ul>
</div>

{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="{% url userena_profile_list_paginated page_obj.previous_page_number %}">{% trans 'previous' %}</a>
    {% endif %}

    <span class="current">
      {% blocktrans with page_obj.number as page and page_obj.paginator.num_pages as num_pages %}
      Page {{ page }} of {{ num_pages }}
      {% endblocktrans %}
    </span>

    {% if page_obj.has_next %}
    <a href="{% url userena_profile_list_paginated  page_obj.next_page_number %}">{% trans 'next' %}</a>
    {% endif %}
  </span>
</div>
{% endif %}
{% endblock %}
