{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
{%if form.errors%}
<div class="ui-grid-a ui-body-d ui-corner-all ui-shadow">
{{form.errors}}
</div>
{%endif%}
<div class="ui-grid-a ui-body-d ui-corner-all ui-shadow">
 <div data-role="navbar">
  <ul>
    <li><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'View profile' %}</span></a></li>
    <li><a href="{% url userena_profile_edit user.username %}" class="ui-btn-active">{% trans "Edit profile" %}</a></li>
    <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></li>
    <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></li>
    <li><a href="{% url forum_avatar_change %}"><span>{% trans "Avatar" %}</span></a></li>
  </ul>
 </div>
<form action="" enctype="multipart/form-data" method="post">
  
  {% csrf_token %}
  <div data-role="fieldcontain">
   
    {{ form.as_p }}
  </div>
  <input type="submit" value="{% trans "Save changes" %}" />
</form>
</div>
{% endblock %}
