psycopg2
pywurfl
slimmer
suds
python-Levenshtein
ply
PyZ3950
feedparser
simplejson
rdflib
python-dateutil
Django
oauth
PIL
lxml
python-ldap
django-compress
python-memcached
South
django-slimmer
BeautifulSoup
django-ipyfield

