
pywurfl
slimmer
suds
python-Levenshtein
ply
PyZ3950
feedparser
simplejson
rdflib
python-dateutil
Django
oauth
PIL
lxml
python-ldap
django-compress
python-memcached
South
django-slimmer
BeautifulSoup
django-ipyfield
django-grappelli
django-filebrowser
django-tinymce
django-sentry
sorl-thumbnail
django-mediagenerator
easy_thumbnails