django-activity-stream
postmarkup
pywurfl
slimmer
suds
python-Levenshtein
ply
PyZ3950
feedparser
simplejson
#rdflib
python-dateutil
Django
oauth
PIL
lxml
django-compress
python-memcached
South
django-slimmer
BeautifulSoup
django-ipyfield
django-grappelli
django-filebrowser
django-tinymce
django-sentry
sorl-thumbnail
django-mediagenerator
easy_thumbnails
pyyaml
django-simple-avatar
django-onlineuser
django-helper
django-lb-attachments
django-pagination
django-tagging
django-mptt
