{% extends 'forum/base.html' %}

{% block title %} {{ FORUM_TITLE }} - {{ FORUM_SUB_TITLE }} {% endblock %}

{% block content %}
    {% include 'forum/inc_header.html' %}

    <div id="Wrapper">
        <div id="Main">
            <div id="Sidebar">
            </div>

           

            <div id="Content">
                {% block content_content %}
                {% endblock %}
            </div>
			
			 <div class="ui-body ui-body-d ui-corner-all ui-shadow">
                {% block content_right_bar%}
                {% endblock %}
            </div>
            
            <div class="c">
            </div>
        </div>
    </div>

  

{% endblock %}
