{% extends 'forum/base.html' %}

{% block title %} {{ FORUM_TITLE }} - {{ FORUM_SUB_TITLE }} {% endblock %}

{% block content %}
    {% include 'forum/inc_header.html' %}

    <div id="Wrapper">
        <div id="Main">
            

           

          
                {% block content_content %}
                {% endblock %}
           
			
			 
                {% block content_right_bar%}
                {% endblock %}
           
            
           
        </div>
    </div>

  

{% endblock %}
