{% load i18n %}
{% load forum_filters %}
{% load forum_tags %}
{% load avatar_tags %}
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
   <ul data-role="listview"> 
   
   <li><a href="{{ t.get_absolute_url }}"> 
				{% avatar t.posted_by 80 %} 
				<h3>{{t.subject}}</h3> 
                <p>
                    由 {{t.get_last_post.posted_by}} 于 <strong>{{ t.get_last_post.update|lbtimesince }}</strong> 发布在
                        {% if not forum %}
                        <strong>{{t.forum.name}}</strong>
                        {% endif %}
                        
                 <br><span>浏览数：{{ t.num_views }}，评论数：{{ t.num_replies|add:"-1"}}</span>
                 </p>
                 
			</a>
			
		</li> 	
   </ul>
</div>
<div class="smallclear"/></div>