{% extends "forum/base_site.html" %}

{% load i18n %}
{% load forum_widget_tags %}
{% load onlineuser_tags %}



{% block content_content %}
   <div class="ui-body ui-body-d ui-corner-all ui-shadow">
        

        {% include 'forum/inc_topic_list.html' %}

        <div class="inner">
            <a href="{% url forum_recent %}">{% trans "More" %}</a>
        </div>
    </div>
{% endblock %}

{% block content_right_bar %}
    {% include 'forum/widgets/cur_user_profile.html' %}
    <div class="sep20"></div>
    {% lbf_categories_and_forums %}
    <div class="sep20"></div>
    {% lbf_status %}
    <div class="sep20"></div>
    {% onlineinfos 1 "forum/widgets/onlineinfos.html" %}
    <div class="sep20"></div>
   
{% endblock %}