{% extends "forum/base_site.html" %}

{% load i18n %}
{% load forum_filters %}
{% load forum_tags %}
{% load forum_widget_tags %}

{% block title %}
    {{ forum }} - {{ topic_type }} - {{ topic_type2 }} - {{ FORUM_TITLE }}
{% endblock %}



{% block content_content %}
    <div class="box">
        <div class="cell">
            <a href="{% url forum:index %}">{{ FORUM_TITLE }}</a>
            <span class="chevron">&raquo;</span>
            {% trans "Recent Topics" %}
        </div>
        {% load pagination_tags %}
        {% autopaginate topics FORUM_PAGE_SIZE %}
        {% include 'forum/inc_topic_list.html' %}
        <div class="inner">
            {% paginate %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block content_right_bar %}
    <div class="ui-body ui-body-d ui-corner-all ui-shadow">
<h4>分类</h4>
    {% lbf_categories_and_forums %}
</div>
{% endblock %}