{% extends "forum/base_site.html" %}

{% load i18n %}
{% load forum_filters %}
{% load forum_tags %}
{% load avatar_tags %}
{% load pagination_tags %}

{% block title %}
    {{ topic.subject }} - {{ FORUM_TITLE }}
{% endblock %}

<div class="ui-grid-a">
            <div class="ui-block-a">
               <p><a href="{% url userena_profile_detail post.posted_by.username %}">{% avatar post.posted_by %}</a></p>
               <p>作者：<a href="{% url userena_profile_detail post.posted_by.username %}">{{post.posted_by.username}}</a></p>
               <p>发布时间：{{ topic.get_last_post.update|lbtimesince }}</p>
               <p>所属栏目：<a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.name }}</a></p>
               <p>关注度：{{topic.num_views}}</p>
            
        	</div>
        	<div class="ui-block-b">
            
            	    {% include 'forum/inc_post_content.html' %}
           
        	</div>
        </div>

{% block content_content %}
    {% autopaginate posts TOPIC_PAGE_SIZE %}
    <div class="ui-body ui-body-d ui-corner-all ui-shadow">
    <h2>{{topic}}</h2>
        {% with post=topic.post %}
        <div class="ui-grid-a">
            <div class="ui-block-a">
               <p><a href="{% url userena_profile_detail post.posted_by.username %}">{% avatar post.posted_by %}</a></p>
               <p>作者：<a href="{% url userena_profile_detail post.posted_by.username %}">{{post.posted_by.username}}</a></p>
               <p>发布时间：{{ topic.get_last_post.update|lbtimesince }}</p>
               <p>所属栏目：<a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.name }}</a></p>
               <p>关注度：{{topic.num_views}}</p>
            
        	</div>
        	<div class="ui-block-b">
            
            	    {% include 'forum/inc_post_content.html' %}
           
        	</div>
        </div>
        
        <div class="inner" id="topic-post-footer">
            <div class="fr">
                {% if user == post.posted_by or user.is_staff %}
                    <span>
                        <a href="{% url forum:forum_post_edit post.pk %}">{% trans "edit" %}</a>
                    </span>
                    |
                {% endif %}
                <span>
                    <a href="{% url forum:forum_new_replay topic.pk %}?qid={{post.pk}}">{% trans "quote" %}</a>
                </span>
                {% if user.is_authenticated %}
                    <span>
                        <a class="newpost" href="{% url forum:forum_new_replay topic.pk %}">
                            {% trans "Post reply" %}
                        </a>
                    </span>
                {% endif %} 
            </div>
            &nbsp;
        </div>
    {% endwith %}

</div>

<div class="sep20"></div>

{% if not posts %}
<div align="center" class="glass"><div class="inner"><span class="white">{% trans "No Reply" %}</span></div></div>
{% else %}
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
    <div class="cell">
        <div class="fr">
        </div>
        <span class="fade">
            {% trans "Posts" %} [ {% page_range_info page_obj %} ]
            <span class="snow">|</span>
            {% trans "Last post" %} {{ topic.get_last_post.update|lbtimesince }}
        </span>
    </div>
    <div id="replies">
        {% for post in posts %}     
            {% include 'forum/inc_post_detail.html' %}
        {% endfor %}
    </div>
    <div class="inner">
        {% paginate %}	
    </div>
</div>
{% endif %}

<div class="sep20"></div>
{%if user.is_authenticated%}
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
    <form action="{% url forum:forum_new_replay topic.pk %}" accept-charset="utf-8" method="post" class="frm-form">
        <div data-role="fieldcontain">
			<label for="textarea">快速回复:</label>
			<textarea id="reply_content" name="message" class="mll"></textarea>
			 {% csrf_token %} 
            <input type="submit" value="{% trans "Submit" %}" name="submit" class="super normal button">
            <input type="submit" value="{% trans "Preview" %}" name="preview" class="super normal button">
		</div>
        
    </form>

    <div class="inner">
        <span class="fade" style="font-size: 120%">
            <small>{% trans "You may use" %}: </small>
            <a class="node" target="_blank" title="Help with: BBCode" href="http://fluxbb.org/forums/help/bbcode/" class="exthelp">BBCode</a>
            <a class="node" target="_blank" title="Help with: Images" href="http://fluxbb.org/forums/help/img/" class="exthelp">Images</a>
        </span>
    </div>
</div>
{%else%}
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
	<h2>您还没有登录，所以不能回复本话题，请您先<a href="{%url userena_signin%}">登录</a></h2>
</div>
{%endif%}
{% endblock %}

{% block footer_js %}
    <script type="text/javascript" src="{{ FORUM_MEDIA_PREFIX }}scripts/jquery.min.js"></script>
    <script type="text/javascript">
        $('.entry-attachments-img-s a').click(function() {
            var p = $(this).parent();
            p.hide();
            p.next().show()
            return false;
        })
        $('.content a').attr({ target: "_blank" });
    </script>
{% endblock %}
