{% extends "base.html" %}
{% load i18n %}

{% block title %}当前在线访问者分布图{% endblock %}





{% block content %}

<style type="text/css">
#active-users-map {
    height: 400px;
    width: 600px;
}
</style>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA9qopK-alQBTSqItvmj0gmBTBPjqyAYzAvBhSdPBCiaMNjqcrIhSVSu8Eerbw7TKE67lsFExN3M8Y3A" type="text/javascript"></script>
<script type="text/javascript">
{% include 'tracking/_active_users.js' %}
</script>
<h2>当前在线用户</h2>

<p>
    每5秒钟这个地图会更新一次，显示出来当前在线的用户分布，并标注在google地图上
</p>

<div id="active-users-map"></div>

<div id="active-users-list"></div>
{% endblock %}
