{% load avatar_tags %}
{% load i18n %}
{% load forum_filters %}
{% load forum_tags %}
{% load forum_widget_tags %}

{% if user.is_authenticated %}
<div class="box">
    <div class="cell">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody><tr>
                    <td width="48" valign="top">
                        <a href="{% url forum:forum_user_profile user.pk %}">{% avatar user 48 %}</a>
                    </td>
                    <td width="10" valign="top"></td>
                    <td width="auto" align="left">
                        <span class="bigger"><a href="{% url forum:forum_user_profile user.pk %}">vicalloy</a></span>
                        <div class="sep5"></div>
                        <span class="fade"></span>
                    </td>
                </tr>
            </tbody></table>
    </div>
    <div class="inner">
        <span class="fade">{% trans "Registered" %}: <strong>{{user.date_joined|date:"Y-m-d"}}</strong></span>
    </div>
</div>
{% else %}

            <a href="{{ REGISTER_URL }}" class="super normal button">{% trans "Register" %}</a>
            或 <a href="{{ LOGIN_URL }}">{% trans "Login" %}</a>
      
{% endif %}
