{% extends "home/base.html" %}
{% load molly_weather %}
{% load molly_utils %}{% load molly_search %}

{% block site_title %}{% endblock %}

{% block title %}{{ site_name }}{% endblock %}

{% block header %}
<div id="index-header">
    <div id="index-title">
		{% ifequal style_group "dumb" %}
		<a href="/"><img width="128" height="51" src="{{ STATIC_URL }}site/images/logos/logo-128x51-TRMargin-5px.png" alt="{{ site_name }}"></a>
		{% else %}
		{% if is_christmas %}
        <a href="/"><img width="128" height="51" src="{{ STATIC_URL }}site/images/logos/logo-128x51-TRMargin-5px-christmas.png" alt="{{ site_name }}"/></a>
		{% else %}
	    <a href="/"><img width="128" height="51" src="{{ STATIC_URL }}site/images/logos/logo-128x51-TRMargin-5px.png" alt="{{ site_name }}"/></a>
		{% endif %}
        {% endifequal %}
    </div>
    
    <!--  
    <div id="index-search">
        {% search_form %}
	     <form method="get" action="{% url search:index %}">
		 <p>
			{{ search_form.query }}
		{% ifequal style_group "dumb" %}
		    <input type="button" value="Search" />
		{% else %}
			<input type="image" src="{{ STATIC_URL }}site/images/buttons/search-button.png" title="Search" alt="Search"/>
		{% endifequal %}
		 </p>
		 </form>
	</div>-->
</div>
{% endblock %}

{% block content %}
    {% if messages %}
    <div class="section">
      <ul class="content-list">
        {% for message in messages %}
	  <li>{{ message|sanitize_html }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="bubble">
	<div class="center">
    	<ol class="icon-menu">
		  {% for application in applications %}{% if application.display_to_user %}
	          <li id="menu-{{ application.local_name }}">
	              <a {% if application.accesskey %} accesskey="{{ application.accesskey }}"{% endif %} href="{{ application.url }}">{{ application.title }}</a>
	          </li>
	      {% endif %}{% endfor %}
	    </ol>
        {# Only necessary if using floating icons #}
        {# <div class="clearhidden"> </div> #}
    </div>
    </div>

    <div class="bubble pad-5">
        {% block reg %}
<form action="/accounts/signup/" method="post"> 
  {% csrf_token %}
   还没有注册手机号？亲，注册只要1分钟！第一次有效注册前100名有奖品拿哦!
  <label for="id_mobile">请输入手机号：</label> 
    <input id="id_mobile" type="text" class="required" name="mobile" maxlength="30" /> 
  <input type="submit" value="注册" />
</form>
{% endblock %}
    </div>
 
    <div class="bubble pad-5">
        <table style="width:100%; text-align:center;">
            <tbody>
                <tr>
                    <td style="width:50%">{% block date %}
      {% now "l, jS F, Y" %}
                    {% endblock %}</td>
                    <td style="width:50%; font-size:1.2em">

      {% weather %}{% block weather-location %}{{ weather.name }}{% endblock %}: {{ weather.temperature }}&deg;C<img src="{{ STATIC_URL }}weather/images/{{ weather.icon }}_small.png" alt="{{ weather.get_outlook_display|capfirst }}" height="30" width="30" style="vertical-align:middle;"/>

                    </td>
                </tr>
	{% block below-weather %}{% endblock %}
            </tbody>
        </table>
    </div>
       
    {% if favourites %}
    <div class="section">
      <div class="header">
	<h2>Favourites</h2>
      </div>
      <ul class="link-list">
      {% for favourite in favourites %}
	<li class="favourite-link"><a href="{{ favourite.url }}">{{ favourite.metadata.title|safe }}
          {% if favourite.metadata.additional %}<br /><span class="additional">{{ favourite.metadata.additional|safe }}</span>{% endif %}</a></li>
      {% endfor %}
	<li><a href="{% url favourites:index %}"><strong>Manage Favourites</strong></a></li>
      </ul>
    </div>
    {% endif %}

    <ul class="stand-alone link-list round-top">
	<li><a href="{% url home:static_about %}">关于我们</a></li>
	{% if has_user_messages %}
            <li><a href="{% url home:messages %}">Read messages from the developers</a></li>
	{% endif %}
    </ul>
    
	{% block below-about %} {% endblock %} 
<div class="bubble pad-5" style="width:100%; text-align:center;"><a href="http://www.eiimedia.cn">娱讯传媒</a> 联系电话:0592-5166918</div>
{% endblock %}
