{% extends "zine/base.html" %}{% load e2_utils %}



{% block pagetitle %}{{ category.title }}{% endblock %}
{% block title %}{{ category.title }}{% endblock %}

{% block content %}

<div class="ui-body ui-body-d ui-corner-all ui-shadow">

    <ul><h2>{{ category.title }}</h2></ul>

 	<ul data-role="listview" data-inset="true" data-theme="d">
		{% for item in page_object.object_list %}
		        <li>
		            <a href="{%url zine:item-detail path slug item.id %}">
		                {{ item.title }}
		                
		                
		            </a>
		        </li>
		{% endfor %}
    </ul>
</div>

{% endblock %}
