{% extends "feeds/news/base.html" %}{% load molly_search %}

{% block content %}

{# 搜索框 #}
{% search_form %}
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
<form method="get" action="{% url search:index %}">
    <!-- Doing the devil's work below: couldn't get a CSS design to work with Blackberry 8900 so using Tables as a last resort. Tim F -->
<h2 class="invisible">搜索团购信息</h2>    
<p>
               
                <label for="search">搜索团购信息:</label>
                 <input type="search"  name="query" id="id_query" title='搜索团购信息'/>
                 
   </p>
                <input type="hidden" name="application" value="tuan" title="Search News" />
                
</form>
</div>
{# 结束搜索 #}


<div data-role="listview" data-inset="true" data-theme="d" id="divTuan">
<h3>团购信息合作伙伴</h3>
{% for feed in feeds %}
        <li {% if forloop.last %}class="round-bottom"{% endif %}>
            <a href="{{ feed.get_absolute_url }}">{{ feed.title }}</a>
        </li>
{% endfor %}
    
</div>


{% endblock %}
