{% extends "business/base.html" %}

{% block content %}
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
<ul data-role="listview">
	{% for b in list.object_list %}
    	
    	<li><a href="/business/{{ b.id  }}">
				<img src="{{b.get_logoUrl}}" />
				<h3>{{ b.businessName  }}</h3><span class="ui-li-count">优惠活动有{{b.promotions_count}}项哦</span>
				<p>{{b.introdution|safe}}</p>
			</a>
		</li>
			
	{% endfor %}
</ul>
</div>
<div class="clear"></div>

<div data-role="navbar">
<ul>
{{ userList.paginator.num_pages }}
<li><a href="?page=1" title="首页">首页</a></li>
{% if list.has_previous %}
<li><a href="?page={{ list.previous_page_number }}" title="下一页">上一页</a>&nbsp;</li>
{% endif %}
<li>
{% for p in page_range %}
{% ifequal p list.number %}
<a href="#" title="第{{p}}页" class="ui-btn-active">{{p}}</a>
{% else %}
<a href="?page={{p}}" title="第{{p}}页">{{p}}</a>
{% endifequal %}
{% endfor %}
&nbsp;
</li>

{% if list.has_next %}
<li><a href="?page={{ list.next_page_number }}" title="下一页">下一页</a>&nbsp;</li>
{% endif %}
<li><a href="?page={{ list.paginator.num_pages }}" title="末页">末页</a></li>
</ul>
</div>

{% endblock %}