{% extends "weather/base.html" %}

{% block pagetitleclass %}weather-header with-icon{% endblock %}
{% block pagetitle %}天气预报{% endblock %}
{% block title %}天气预报{% endblock %}


{% block content %}

<div class="ui-body ui-body-d ui-corner-all ui-shadow">
   
        <h2>{% block location %}{{ observation.name }}天气情况{% endblock %} <small>发布于：{{ observation.published_date|date:"H:i" }}</small></h2>
  
	<div class="note">
		<div class="weather-icon">
	   		 <img id="imgWea" src="/media/weather/images/{{ observation.icon }}.png" alt="{{ observation.get_outlook_display|capfirst }}"/><br/>
	    </div>
		<div class="weather-live-info">
          <span style="font-size: 24pt;">{{ observation.temperature }}</span><br/>
           {{ observation.temperature_content }}<br/>
		</div>
		 
	</div>
	{{ observation.description }}
</div>
	
<div class="ui-body ui-body-d ui-corner-all ui-shadow">

    <h2>未来两天预测</h2>

    <table class="weather-forecast">
        <tbody>
            <tr>
                <td style="font-size:12pt">明天</td>
                <td><img src="/media/weather/images/{{ observation.icon_1 }}_small.png" alt="{{ observation.get_outlook_2_display|capfirst }}" style="height:2.5em; width:2.5em;"/></td>
                <td style="font-size:12pt">{{ observation.temperature_1 }}</td>
     
            </tr>
             <tr>
                <td style="font-size:12pt">后天</td>
                <td><img src="/media/weather/images/{{ observation.icon_2 }}_small.png" alt="{{ observation.get_outlook_2_display|capfirst }}" style="height:2.5em; width:2.5em;"/></td>
                <td style="font-size:12pt">{{ observation.temperature_2 }}</td>
     
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
