{%block load%}{% load tagging_tags comments entry_tags%}{%endblock%}
			<div data-role="collapsible" data-collapsed="true">
				<h3>查看评论</h3>
				<div class="ui-body ui-body-d ui-corner-all ui-shadow">
				<ul data-role="listview">
					<li><h4>评论数:{{object.comments.count}}</h4></li>
					{% with object.comments as comment_list %}
  					{% if comment_list.count %}
					
						{% for comment in comment_list %}
						<li id="comment-{{ comment.pk }}">
							<a href="{{ comment.url }}">
							<img src="{% get_gravatar comment.email 60 "G" %}" alt="{{ comment.user_name }}" />
							
							<h3>{{ comment.user_name }}，评论于：{{ comment.submit_date|date:"Y-m-j" }}</h3>
							<p> {{ comment.comment }}</p>
							</a>
						</li>
						
						{%endfor%}
					
					
			
					 {%endif%}
				{%endwith%}
			</ul>
			</div>
			</div>
			<!--生成评论表单 -->
			{%if user.is_authenticated%}
			<div class="ui-body ui-body-d ui-corner-all ui-shadow">
				<h3>留下个评论哦~~</h3>
			
					{% if object.comments_are_open %}
				
						

								
			
  										{% render_comment_form for object %}
		
								

							
						
				
				{%else%}
					<h3>本文章暂时没有开放评论哦！</h3>
				{% endif %}
				

			</div>
			{%endif%}


