{% extends "base.html" %}
{%block load%}{% load tagging_tags entry_tags %}{%endblock%}
{% block meta-description %}最新文章列表 | {% if category %}分类：{{ category }}{% if category.description %}: {{ category.description|striptags|safe }}{% endif %}{% endif %}{% if tag %}标签：{{ tag }}{% endif %}{% if author %} 作者：{{ author }}{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} 页： {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  {% if category %}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed {{ category.title }}" href="{% url entry_category_feed category.tree_path %}" />
  {% endif %}
  {% if tag %}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed {{ tag.name }}" href="{% url entry_tag_feed tag.name %}" />
  {% endif %}
  {% if author %}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed {{ author.username }}" href="{% url entry_author_feed author.username %}" />
  {% endif %}
{% endblock %}

{% block title %}最新文章{% if category %}| 分类：{{ category }}{% endif %}{% if tag %}| 标签：{{ tag }}{% endif %}{% if author %}| 作者：{{ author }}{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} | 页：{{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block content %}

<!-- <div class="ui-body ui-body-d ui-corner-all ui-shadow">
<form method="get" action="{% url entry:entry_entry_search %}">
<h2 class="invisible">搜索</h2>    

<p>
               
                <label for="search">搜索新闻:</label>
                <input type="search"  name="pattern" id="searchbox" title='搜索'/>
                您可以使用地点、商铺名称、关键词等来进行搜索
   </p>
             
           
       
        
               
        
</form>
</div>
-->
{# End Places Search #}

<div class="ui-body ui-body-d ui-corner-all ui-shadow">
	<ul data-role="listview" data-inset="true" data-theme="d">
					{% for object in page_object.object_list %}
	
						<li><a href="{{ object.get_absolute_url }}"  rel="external">{{object.title}}</a><span class="ui-li-count">{{object.creation_date|date:"Y-f-j"}}</span></li>
	
						
					{% endfor %}
					
	</ul>
</div>
<div data-role="navbar" id="divPaper">
				
  						
		
	<ul>

			<li><a href="{%url entry:entry_category_detail_paginated category.slug 1%}" title="首页">首页</a></li>
			{% if page_object.has_previous %}
				<li><a href="{%url entry:entry_category_detail_paginated category.slug page_object.previous_page_number%}" title="上一页">上一页</a>&nbsp;</li>
			{% endif %}


			{% if page_object.has_next %}
				<li><a href="{%url entry:entry_category_detail_paginated category.slug page_object.next_page_number%}" title="下一页">下一页</a>&nbsp;</li>
			{% endif %}
			<li><a href="{%url entry:entry_category_detail_paginated category.slug page_object.paginator.num_pages%}" title="末页">末页</a></li>
	</ul>
</div>
			
			
			{% block sider %}{% include "entry/right_sider.html" %}{%endblock%}
		
{% endblock %}