
{% block footer %}
<div id="dashboard">

			<div class="column left" id="column-1">
				
				<div class="column-content">
				
					<div class="column-title">关于本站</div>

					<p>本站点是基于DJANGO1.3开发而成的，且本项目完全开源且免费，请从</p>

					<a href="https://github.com/alexliyu/lincdm/">这里下载 . &#187;</a>

				</div>

			</div>

			<div class="column left" id="column-2">

				<div class="column-content">
				
					<div class="column-title">关注我们</div>

					<ul class="plain-list">
						<li><a href="/feeds/latest/" class="feed">订阅RSS</a></li>
						<li><a href="http://t.qq.com/alexliyu" class="feed">收听QQ微博</a></li>
						<li><a href="http://alexliyu.blog.163.com/rss" class="feed">订阅网易博客</a></li>
						<li><a href="/about" class="feed">关于我们</a></li>
					</ul>

				</div>

			</div>

			<div class="column left" id="column-3">

				<div class="column-content">
				
					<div class="column-title">服务 &amp; 支持</div>

					<p>我们提供网站、数字标牌、开源系统、Linux数字开发等领域的技术与营销服务.</p>

					<a href="/service">查看更多详情 &#187;</a>
				
				</div>

			</div>

			<div class="column right" id="column-4">

				<div class="column-content">
				
					<div class="column-title">联系我们</div>

					<p>QQ: 9395 670 50<br/>Email: Alexliyu2012@Gmail.com</p>

					<a href="#">在线反馈 &#187;</a>

				</div>

			</div>

			<div class="clearer">&nbsp;</div>

		</div>

		<div id="footer">

			<div class="left">&copy; 2010-2011 33445120.TK <span class="text-separator">&rarr;</span> <a href="#">Home</a> <span class="text-separator">|</span><a href="#">News</a> <span class="text-separator">|</span> <a href="#">Politics</a> <span class="text-separator">|</span> <a href="#">Culture</a> <span class="text-separator">|</span> <a href="#">Sport</a> <span class="text-separator">|</span> <a href="#">Debate</a> <span class="text-separator">|</span> <a href="/sitemap/">SiteMap</a></div>
			<div class="right"><a href="http://www.33445120.tk/">The LinCDM System</a> By <a href="http://djangoproject.org/">Django</a></div>

			<div class="clearer">&nbsp;</div>

		</div>
		
{% endblock %}