{%block load%}{% load entry_tags tagging_tags%}{%endblock%}
<div data-role="collapsible" data-collapsed="true">
			<h3>查看附加信息</h3>
				
				

				<div class="ui-body ui-body-d ui-corner-all ui-shadow">

					<h4>最多关注</h4>

					<ul data-role="listview" data-inset="true" data-theme="d">
						{% get_popular_entries 5 %}
						
						
					</ul>

				</div>
				
				<div class="ui-body ui-body-d ui-corner-all ui-shadow">

					<h4>随机推荐</h4>

				<ul data-role="listview" data-inset="true" data-theme="d">
							{% get_random_entries 8 %}
						
						
					</ul>

				</div>

				<div class="ui-body ui-body-d ui-corner-all ui-shadow">

					<h4>最新评论</h4>

					<ul data-role="listview" data-inset="true" data-theme="d">
						{% get_recent_comments 8 %}
						
						
					</ul>
				</div>
				
				<div class="ui-body ui-body-d ui-corner-all ui-shadow">

					<h4>标签云</h4>

					<div class="tags">
						{% tag_cloud_for_model entry.entry as tag_cloud with steps=6 %}
  					
    							{% for tag in tag_cloud %}
    									
      										<a href="{% url entry_tag_detail tag.name %}"  title="{{ tag.count }}篇文章"
         									class="tag_{{ tag.font_size }}">{{ tag }}</a>
    									
    							{% endfor %}
  						
						
						
					</div>

				</div>
			
			</div>
			
			