<div class="ui-body ui-body-d ui-corner-all ui-shadow">
    <h2>公司简介</h2>

    <div class="note"><div class="bubble pad-10" style="text-align:left">
    娱讯传媒（Eii Media），是一家综合性媒体集团，整合影视制作和传播代理、大型户外LED彩屏媒体、娱乐场所视频媒体、网络广告媒体、平面媒体等多种媒体资源，是业界领先的精准广告系统化运营商。通过整合媒体平台与其目标市场进行定向互动，竭诚为客户提供精准、互动、新颖、有效的全方位整合营销服务，其独创的商业模式、媒体传播的专业性、互动性赢得业界的高度认同。
    </div></div>
</div>
<div class="clear"/>
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
    <h2>合作伙伴</h2>

    <div class="note"><div class="bubble pad-10" style="text-align:left">
    <img src="http://www.eiimedia.com/UploadFile/200921395651501.jpg"/>
    </div></div>
</div>
<div class="clear"/>
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
    <h2>联系方式</h2>

   <li>联系电话:+86-592-5166-918</li>
   <li>商务合作:+86-592-5166-918</li>
   <li>联系人：市场部——王经理</li>
   <li>公司网址:http://www.eiimedia.com</li>
   <li>公司地址：厦门市禾祥东路138号鸿运大厦裙楼4楼</li>

   <img src="/media/site/images/eiimedia.png" alt="公司地图"/>
   
   
</div>

