<div class="ui-body ui-body-d ui-corner-all ui-shadow" id="divAbout">
    <h2>公司简介</h2>

    <div class="note"><div class="bubble pad-10" style="text-align:left">
     娱讯（厦门）文化传播有限公司成立于2009年初，是一家专业从事于数字标牌网络运营的新媒体公司。其终端遍布厦门主流的中高端娱乐休闲消费类场所，主要受众为具有中高端消费能力的阶层，所面向广告客户也为具有一定知名度的中高端企业。
  公司自成立之初就秉承开放、合作与创新的理念，以帮助企业实现营销目标为核心价值观，以服务于受众为宗旨，以实现广告投放商、受众、合作渠道场所与娱讯传媒四方共赢为发展目标。
  在规模方面，目前娱讯传媒已经在厦门签约数字标牌终端达5000多台，实际安装运营数字标牌将近2000台的，现装机规模已经居于厦门第一。旗下除了数字标牌网络外还具有用以与娱讯传媒数字标牌网络以及广告投放商之间进行互动的手机、移动终端门户网站。
  在团队方面，经过这三年的发展娱讯传媒已经具有了几十人的技术支撑团队，涉及软件、硬件、运维、影视制作等方面，不但保证了娱讯传媒在数字标牌行业设备的领先性，同时也因为具有大量的专业技术工程师，保证了娱讯传媒在广告传播形式与其所提供服务的创新能力。
  在产品方面，我们在以帮助企业实现营销目标为核心价值观的思想下，不断的深入研究市场与受众心里，并根据客户具体情况不断的研发出各种创新的传播模式与互动传播体验产品来实现个众传播与引导消费的目的。
  在战略方面，娱讯传媒通过积极的与各类企业进行技术、运营、营销、资源、服务等领域的深入合作，已经初步的形成了一个以娱讯传媒数字标牌网络为骨干的生态系统。接下来随着与广告投放商以及其他边际型企业展开更加广泛与开放性的合作，相信随着这个生态系统的逐步成熟，娱讯传媒以及其战略合作伙伴们都将实现共赢的目标。
   开放、创新、合作、共赢，这是娱讯传媒的美好期望，同时也是娱讯传媒为之一直努力的目标！
    </div></div>
</div>
<div class="clear"/>
<div class="ui-body ui-body-d ui-corner-all ui-shadow">
    <h2>合作伙伴</h2>

    <div class="note"><div class="bubble pad-10" style="text-align:left">
    <img src="http://www.eiimedia.com/UploadFile/200921395651501.jpg"/>
    </div></div>
</div>
<div class="clear"/>
<div class="ui-body ui-body-d ui-corner-all ui-shadow" id="divLink">
    <h2>联系方式</h2>

   <li>联系电话:+86-592-5166-918</li>
   <li>商务合作:+86-592-5166-918</li>
   <li>联系人：市场部——王经理</li>
   <li>公司网址:http://www.eiimedia.com</li>
   <li>公司地址：厦门市禾祥东路138号鸿运大厦裙楼4楼</li>

   <img src="/media/site/images/eiimedia.png" alt="公司地图" />
   
   
</div>

